# Database Configuration
POSTGRES_USER=POSTGRES_USER #modify value
POSTGRES_PASSWORD=POSTGRES_PASSWORD #modify value
POSTGRES_DB=POSTGRES_DB #modify value
DATABASE_URL=postgresql://POSTGRES_USER:POSTGRES_PASSWORD@db:5432/POSTGRES_DB #review value

# Backend Configuration
SECRET_KEY=your-super-secret-jwt-key-change-this-in-production #modify this value
ALGORITHM=HS256 #standard algorithm
ACCESS_TOKEN_EXPIRE_MINUTES=30 #standard time

# Frontend Configuration
VITE_API_URL=http://localhost:8000 #standard port

# Environment
ENVIRONMENT=development #standard environment
